/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.danger-text {
  color: red;
}


.mat-success {
  color: rgb(67 204 106)
}

.text-center {
  text-align: center;
}

.text-center-right {
  text-align: right;
}
